body{
  margin: 0px!important;
}
.f-r{
  float: right!important;
}
.content-container{
  margin: auto;
  max-width: 1140px;
}

.mar-b-12{
  margin-bottom : 12px
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.title-ticket{
  font-size: 20px;
  font-weight: bold;
}

.el-dialog {
  width: 98%;
  max-width: 600px;
}

#add-ticket-dl .el-dialog__footer{
  text-align: center;
}
.card-ticket .el-card__header{
  padding: 12px 12px
}
.card-ticket .el-card__body{
  padding: 12px 12px
}
.card-box-action{
  position: relative;
  right: -8px;
  top: -6px;
  float: right;
  float: right; padding: 3px 0
}

.action-card-button.el-button--small, .action-card-button.el-button--small.is-round {
  padding: 5px 5px;
}

.action-card-button.el-button+.action-card-button.el-button {
  margin-left: 1px;
}
